{% extends "adopt/layout.html" %}

{% block body %}
<form action="{% url 'send' user_profile.id %}" method="post">
   {% csrf_token %}
   <div class="input-group mb-3">
      <div class="input-group-prepend">
         <span class="input-group-text" id="inputGroup-sizing-default">Send to</span>
      </div>
      <input type="text" class="form-control" name="age" aria-label="Sizing example input"
         placeholder="{{user_profile.username}}">
   </div>

   <div class="input-group mb-3">
      <div class="input-group-prepend">
         <span class="input-group-text" id="inputGroup-sizing-default">Message</span>
      </div>
      <textarea type="text" id="message" name="message" rows="7"
         cols="50">Send an attractive message to the owner.Also, don't forget keep your profile updated.</textarea>

   </div>

   


   <div class="">
      <button class="btn btn-primary " type="submit">Send</button>
   </div>

</form>



{% endblock %}